body{
    text-align: center;
}
canvas{
    border: 2px solid black;
    background-image: url("/image/game/grasses68.gif");
    width: 600px;   
    height: 600px;
}
#talkBox{
    height: 20px;
    color: brown;
    font-size: 26px;
    font-weight: bold;
}